* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --first-color: #00ac4f;
    --second-color: #FDB913;
    --third-color: #ee2b76;
    --third-color-hover: #dd276d;
    --font-regular: 'Raleway-Regular';
    --font-light: 'Raleway-Light';
    --font-semibold: 'Raleway-SemiBold';
    --font-medium: 'Raleway-Medium';
    --font-bold: 'Raleway-Bold';
    --font-black: 'Raleway-Black';
    --font-extrabold: 'Raleway-ExtraBold';
}


body{
    font-family: "Raleway", sans-serif;
    max-width: 1920px;
}