.display-in {
    display: inline-flex;
}
.display-inblock {
    display: inline-block;
}
.bs{
    margin-top: 2px;
    width: 100%;
    border-bottom:1.3px solid;
    
}
.display-block {
    display: block;
}
.display-flex {
    display: flex;
}
.display-none {
    display: none;
}



html{

    font-family: Roboto,arial,sans-serif;
}


.card-text{

    margin: 15px 0px 60px 62px;
}


#card-input-1{
    padding: 2px;

}

.Containerservice{
 
    border: 1px solid;
    box-shadow: 1px 0px 3px 0px;
    padding: 8px;
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;

}
.card-title{
    font-weight: bold;
}
.cimg{
    width: 100px;
    height: 104px;
    padding: 6px;
    border: 1px solid;
    display: inline-flex;
}
.Onsticky {
    position: fixed;
    top: 0.1px;
    background-image: url('../assets/Brasaologopbh.png');   
    background-repeat: no-repeat;
    background-size: 55px 60px;
    background-position: left;
    padding-top: 20px;
    margin-bottom: 30px;
    transition: all;
    animation: Stickyanimation 0.5s linear forwards;
    z-index: 1;
    width: 100%;
    
}
.ContainerSticky{
    margin: 0% 0% 0% 256px;
    display: inline-flex;
   
}

@keyframes Stickyanimation {
    0%{
        background-position: 20px 70px;
        padding-top:20px;
    }
    50%{
        background-position: 20px 60px;
        padding-top:35px;
    }
    100%{
        padding-top:50px;
        background-position: 100px 5px;
    }
}



.Ofsticky {

    top:0.1px;
    background-color: white;
   

}


.grid-cl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gap-1{
    gap: 0.5rem;
}
